<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @post.user.email %>
  </li>

</ul>
<ul>
  <strong>tags:</strong>
  <%= for tag <- @post.tags do %>
  <li>
    <%= tag.name  %>
  </li>
  <% end %>
</ul>
<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
